#open {
  background: #ff884e;
  color: white;
  padding: 10px 20px;
  border: none;
  width: fit-content;
  margin-bottom: 170px;
}
#open:hover {
  background-color: black;
}
body {
  background: #99989a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#container {
  background: #f5f4f6;
  width: 750px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#container p {
  margin: 0;
  padding: 20px;
}
#container h1 {
  background: #ff884e;
  margin-top: 0;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
}
#container h2 {
  background: #ff884e;
  margin-top: auto;
  margin-bottom: 0;
  color: white;
  padding: 15px;
}
.hidden {
  visibility: hidden !important;
}
#close {
  margin-left: auto;
}
.animate {
  animation-name: example;
  animation-duration: 1s;
}
/* The animation code */
@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The element to apply the animation to */
div {
  width: 100px;
  height: 100px;
  background-color: red;
}
